table {
    width: 100%;
}

thead, tbody, tr, td, th {
    display: block;
}

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;
}

tbody {
    height: 400px;
    overflow-y: auto;
}

thead {
    /* fallback */
}

tbody td, thead th {
    width: 25%;
    float: left;
}

#table_div {
    width:66%;
    margin-top: 1%;
    margin-left: 18%;
    border-style: solid;
    border-color: gray;
    border-width: thin;
}

#div_message {
    width:66%;
    height: 40px;
    margin-top: 1%;
    margin-left: 18%;
    border-style: solid;
    border-color: gray;
    border-width: thin;
}

#useradd_div {
    margin-top: 1%;
    width: 45%;
    height: 120px;
    float: left;
    margin-left: 18%;
    border-style: solid;
    border-color: gray;
    border-width: thin;
}

#userdel_div {
    margin-top: 1%;
    width: 21%;
    height: 120px;
    float: left;
    border-style: solid;
    border-color: gray;
    border-width: thin;
}

#login_text, #password_text, #date_Born_date, #add_user_submit, #del_text {
    margin: 10px;
}